* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle at 50% 80%, #494c53);
    background-attachment: fixed;
    color: #f2f2f2;
    padding: 30px;

    /* ✨ Efeito 3D leve */
    perspective: 1000px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
    color: whitesmoke;
    margin: 50px;
}

.container {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.5fr));
    gap: 25px;
    justify-content: center;
}

.card {
    background: white;
    backdrop-filter: blur(12px);
    border-radius: 15px;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    /* Sombra 3D */
    box-shadow: 0px 15px 40px rgba(228, 226, 226, 0.4);

    /* efeito 3D suave */
    transform-style: preserve-3d;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
    transform: translateY(-8px) translateZ(20px);
    box-shadow: 0 20px 50px rgba(0,0,0,0.6);
}



h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: black;
    border-left: 4px solid white;
    padding-left: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
    color: black;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #0d0d0e);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: linear-gradient(135deg,  #0d0d0e);
}

pre {
    margin-top: 15px;
    padding: 15px;
    background: #f7f9fc;
    border-radius: 8px;
    font-size: 13px;
    max-height: 220px;
    overflow-y: auto;
    border-left: 4px solid #070707;
}

.resultado{
    color: black;
}

/* 🔥 RESPONSIVIDADE MOBILE */
@media (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr !important; /* força apenas 1 coluna */
    }
    .card {
        width: 100%;
    }
}